mixin sprite
  svg.svg-sprite(xmlns='http://www.w3.org/2000/svg')
    symbol#logo(viewbox='0 0 225 31')
      path(
        d='M12.48 30.32c-2.053 0-3.787-.133-5.2-.4-1.413-.267-2.587-.707-3.52-1.32-.933-.64-1.667-1.493-2.2-2.56C1.053 24.947.693 23.6.48 22 .293 20.4.2 18.48.2 16.24c0-2.24.093-4.16.28-5.76.213-1.6.587-2.933 1.12-4 .533-1.093 1.267-1.947 2.2-2.56.933-.64 2.107-1.093 3.52-1.36 1.413-.267 3.133-.4 5.16-.4.907 0 1.92.04 3.04.12 1.12.08 2.227.187 3.32.32 1.12.133 2.16.293 3.12.48v5a31.333 31.333 0 0 0-2.72-.28c-.88-.08-1.693-.147-2.44-.2a26.8 26.8 0 0 0-1.84-.08 64.6 64.6 0 0 0-3.56.08c-.933.053-1.693.227-2.28.52-.587.267-1.027.707-1.32 1.32-.293.613-.493 1.48-.6 2.6-.08 1.093-.12 2.493-.12 4.2 0 1.52.027 2.8.08 3.84.08 1.04.227 1.893.44 2.56.24.667.56 1.187.96 1.56.427.347.973.587 1.64.72.693.133 1.533.2 2.52.2h1.04c.373-.027.733-.053 1.08-.08.347-.027.64-.04.88-.04v-5.96H11.8v-5h10.28v15.4c-.96.187-2.013.347-3.16.48-1.147.107-2.28.2-3.4.28-1.12.08-2.133.12-3.04.12ZM32.12 30.32c-1.28 0-2.36-.2-3.24-.6-.88-.4-1.547-1.053-2-1.96-.427-.907-.64-2.093-.64-3.56 0-1.547.173-2.773.52-3.68.373-.933 1.026-1.6 1.96-2 .933-.4 2.253-.6 3.96-.6.24 0 .573.013 1 .04.453 0 .96.013 1.52.04.56 0 1.12.013 1.68.04.56 0 1.066.013 1.52.04v-.76c0-.773-.067-1.373-.2-1.8-.107-.427-.334-.733-.68-.92-.32-.213-.814-.333-1.48-.36a34.63 34.63 0 0 0-2.64-.08 57.496 57.496 0 0 0-4.2.16c-.694.027-1.28.067-1.76.12V9.92a41.124 41.124 0 0 1 3.68-.44 45.59 45.59 0 0 1 4.36-.2c1.706 0 3.12.107 4.24.32 1.146.213 2.066.547 2.76 1 .693.427 1.2.973 1.52 1.64.346.667.573 1.453.68 2.36.106.907.16 1.933.16 3.08V30h-6.16l-.16-2.4h-.32c-.507.8-1.094 1.4-1.76 1.8-.667.4-1.374.653-2.12.76-.747.107-1.48.16-2.2.16Zm3.04-4.56c.48 0 .893-.027 1.24-.08.373-.08.68-.2.92-.36.266-.187.48-.413.64-.68.133-.293.24-.653.32-1.08.08-.427.12-.933.12-1.52v-.76h-3.72c-.667 0-1.174.053-1.52.16-.347.08-.587.293-.72.64-.107.32-.16.827-.16 1.52 0 .587.066 1.04.2 1.36.133.32.4.533.8.64.426.107 1.053.16 1.88.16ZM49.816 30V9.6h6.08l.16 2.48h.36c.373-.693.84-1.24 1.4-1.64a5.22 5.22 0 0 1 1.96-.88 9.219 9.219 0 0 1 2.32-.28c1.6 0 2.813.227 3.64.68.827.427 1.413 1.133 1.76 2.12h.36c.4-.693.893-1.24 1.48-1.64a5.22 5.22 0 0 1 1.96-.88 9.698 9.698 0 0 1 2.36-.28c1.733 0 3.013.307 3.84.92.853.613 1.413 1.507 1.68 2.68.293 1.173.44 2.627.44 4.36V30h-6.4V19.2c0-1.093-.04-1.947-.12-2.56-.053-.64-.16-1.107-.32-1.4a.988.988 0 0 0-.76-.52c-.347-.08-.8-.12-1.36-.12-.613 0-1.107.08-1.48.24a1.492 1.492 0 0 0-.84.72c-.187.347-.307.827-.36 1.44-.027.613-.04 1.4-.04 2.36V30h-6.44V19.2c0-1.093-.027-1.947-.08-2.56-.053-.64-.173-1.107-.36-1.4a.988.988 0 0 0-.76-.52c-.32-.08-.76-.12-1.32-.12-.613 0-1.107.08-1.48.24a1.492 1.492 0 0 0-.84.72c-.187.347-.307.84-.36 1.48a27.66 27.66 0 0 0-.08 2.32V30h-6.4ZM94.14 30.32c-1.92 0-3.506-.12-4.76-.36-1.253-.24-2.253-.613-3-1.12a5.116 5.116 0 0 1-1.64-2.04c-.346-.827-.573-1.813-.68-2.96-.08-1.147-.12-2.48-.12-4 0-1.84.08-3.427.24-4.76.187-1.333.587-2.427 1.2-3.28.614-.853 1.56-1.48 2.84-1.88 1.307-.427 3.067-.64 5.28-.64 1.787 0 3.24.133 4.36.4 1.12.24 2 .627 2.641 1.16a3.988 3.988 0 0 1 1.4 2c.293.827.48 1.827.56 3 .08 1.147.12 2.48.12 4v1.56h-12.28c0 .907.04 1.64.12 2.2.08.533.293.933.64 1.2.346.267.88.453 1.6.56.72.08 1.72.12 3 .12.506 0 1.106-.013 1.8-.04a66.06 66.06 0 0 0 2.16-.12c.773-.053 1.493-.107 2.16-.16v4.48c-.587.133-1.307.253-2.16.36-.827.107-1.72.187-2.68.24-.96.053-1.894.08-2.8.08Zm2.4-11.6v-.64c0-.96-.053-1.72-.16-2.28-.08-.56-.24-.973-.48-1.24-.213-.293-.52-.48-.92-.56-.4-.08-.906-.12-1.52-.12-.693 0-1.253.053-1.68.16-.4.08-.706.267-.92.56-.213.293-.36.72-.44 1.28-.08.56-.12 1.293-.12 2.2h6.92l-.68.64ZM117.326 30.32a82.358 82.358 0 0 1-7.12-.32 139.213 139.213 0 0 1-3.16-.32v-5.16l2.96.24c1.014.08 1.974.133 2.88.16.907.027 1.667.04 2.28.04 1.28 0 2.254-.04 2.92-.12.667-.107 1.16-.253 1.48-.44.214-.187.36-.387.44-.6.107-.213.174-.467.2-.76.027-.293.04-.627.04-1 0-.56-.04-1-.12-1.32-.053-.347-.186-.613-.4-.8-.186-.187-.48-.32-.88-.4-.4-.107-.92-.2-1.56-.28l-5.64-.72c-1.093-.133-1.986-.4-2.68-.8a4.715 4.715 0 0 1-1.64-1.68c-.4-.693-.68-1.507-.84-2.44-.16-.96-.24-2.027-.24-3.2 0-1.813.267-3.253.8-4.32.534-1.093 1.267-1.92 2.2-2.48.96-.587 2.067-.973 3.32-1.16 1.28-.187 2.667-.28 4.16-.28 1.067 0 2.174.04 3.32.12 1.147.053 2.227.147 3.24.28 1.014.107 1.854.24 2.52.4V8a24.1 24.1 0 0 0-2.36-.24c-.88-.08-1.8-.133-2.76-.16-.96-.053-1.866-.08-2.72-.08-1.04 0-1.866.04-2.48.12-.613.053-1.093.173-1.44.36-.373.213-.613.493-.72.84-.08.347-.12.787-.12 1.32 0 .667.054 1.187.16 1.56.107.347.347.587.72.72.374.133.947.253 1.72.36l5.48.64c.747.08 1.427.213 2.04.4.64.187 1.214.48 1.72.88.534.4.974.973 1.32 1.72.187.347.334.773.44 1.28a17.543 17.543 0 0 1 .4 3.84c0 1.573-.16 2.907-.48 4-.32 1.067-.773 1.92-1.36 2.56a6.216 6.216 0 0 1-2.12 1.44c-.826.32-1.746.52-2.76.6-.986.107-2.04.16-3.16.16ZM133.184 30V14.48h-3.72V9.6h3.72V3.68h6.48V9.6h4.44v4.88h-4.44V30h-6.48ZM153.633 30.32c-1.36 0-2.453-.173-3.28-.52-.827-.347-1.453-.853-1.88-1.52-.427-.667-.707-1.493-.84-2.48-.133-.987-.2-2.133-.2-3.44V9.6h6.4v10.8c0 1.093.027 1.96.08 2.6.08.613.213 1.067.4 1.36.187.293.467.48.84.56.373.053.88.08 1.52.08.693 0 1.24-.067 1.64-.2.427-.16.733-.413.92-.76.187-.347.307-.827.36-1.44.08-.64.12-1.427.12-2.36V9.6h6.44V30h-6.12l-.16-2.48h-.36a4.918 4.918 0 0 1-1.44 1.68 5.59 5.59 0 0 1-2 .84c-.747.187-1.56.28-2.44.28ZM177.066 30.32c-1.173 0-2.187-.16-3.04-.48a4.324 4.324 0 0 1-2.08-1.64c-.533-.8-.933-1.88-1.2-3.24-.24-1.36-.36-3.067-.36-5.12 0-2.027.12-3.72.36-5.08.24-1.387.627-2.467 1.16-3.24.533-.8 1.213-1.373 2.04-1.72.853-.347 1.88-.52 3.08-.52.8 0 1.547.067 2.24.2a5.95 5.95 0 0 1 1.96.72c.587.347 1.093.867 1.52 1.56h.32V.28h6.44V30h-6.12l-.16-2.44h-.32c-.4.773-.92 1.36-1.56 1.76a5.864 5.864 0 0 1-2.04.76c-.72.16-1.467.24-2.24.24Zm2.88-5.28c.827 0 1.44-.093 1.84-.28.427-.213.733-.587.92-1.12.16-.48.253-1.027.28-1.64.053-.64.08-1.373.08-2.2 0-.827-.027-1.547-.08-2.16-.027-.613-.12-1.133-.28-1.56-.16-.587-.453-.987-.88-1.2-.427-.213-1.053-.32-1.88-.32-.72 0-1.293.053-1.72.16-.427.107-.747.333-.96.68-.187.32-.307.827-.36 1.52-.053.693-.08 1.653-.08 2.88 0 1.227.027 2.2.08 2.92.053.693.173 1.213.36 1.56.213.32.533.533.96.64.427.08 1 .12 1.72.12ZM194.384 5.44V.28h6.6v5.16h-6.6Zm.08 24.56V9.6h6.48V30h-6.48ZM214.87 30.32c-1.814 0-3.32-.107-4.52-.32-1.2-.213-2.147-.56-2.84-1.04a4.156 4.156 0 0 1-1.52-1.92c-.32-.8-.534-1.8-.64-3-.08-1.2-.12-2.627-.12-4.28 0-1.653.04-3.067.12-4.24.106-1.2.32-2.2.64-3 .32-.8.826-1.44 1.52-1.92.693-.48 1.64-.813 2.84-1 1.2-.213 2.706-.32 4.52-.32 1.84 0 3.36.107 4.56.32 1.2.187 2.146.52 2.84 1 .693.48 1.2 1.12 1.52 1.92.32.8.52 1.8.6 3 .106 1.173.16 2.587.16 4.24s-.054 3.08-.16 4.28c-.08 1.2-.28 2.2-.6 3-.32.8-.827 1.44-1.52 1.92-.694.48-1.64.827-2.84 1.04-1.2.213-2.72.32-4.56.32Zm0-4.88c.8 0 1.426-.053 1.88-.16.453-.107.773-.347.96-.72.186-.373.293-.947.32-1.72.053-.773.08-1.8.08-3.08s-.027-2.293-.08-3.04c-.027-.747-.134-1.307-.32-1.68-.187-.373-.507-.613-.96-.72-.454-.107-1.08-.16-1.88-.16-.8 0-1.427.053-1.88.16-.427.107-.734.347-.92.72-.187.373-.307.933-.36 1.68-.027.747-.04 1.76-.04 3.04s.013 2.307.04 3.08c.053.773.173 1.347.36 1.72.186.373.493.613.92.72.453.107 1.08.16 1.88.16Z'
      )
    symbol#castle(viewbox='0 0 470 475')
      path(
        fill='#A03774',
        d='M259.792 16.218s12.56 9.134 25.406 12.005c1.836.41 2.688 2.534 1.605 4.073-2.382 3.39-6.898 8.506-14.022 11.638-6.123 2.693-12.989-1.978-12.989-8.667V16.218Z'
      )
      path(
        fill='#A03774',
        d='M235.797 0s5.506-.027 12.343.707c12.098 1.298 21.307 11.462 21.307 23.63v9.066c0 3.062-2.875 5.325-5.84 4.561-6.515-1.679-17.499-3.833-27.81-2.683V.001Z'
      )
      path(fill='url(#castle-a)', d='M230.81.012h9.975v75.546h-9.975V.012Z')
      path(fill='#C76266', d='M230.81 65.97h9.975v9.588h-9.975V65.97Z')
      path(fill='#819FEA', d='M235.797 190.646h-70.505V316.1h141.01V190.646h-70.505Z')
      path(
        fill='#3D63AD',
        d='M235.797 221.645c-11.399 0-20.642 9.242-20.642 20.642v17.501h41.284v-17.501c-.001-11.4-9.242-20.642-20.642-20.642Z'
      )
      path(fill='#466DBC', d='M165.292 186.99v21.238h141.01V186.99h-141.01Z')
      path(
        fill='#819FEA',
        d='M252.044 68.705v6.843l-16.247.017-16.247-.017v-6.843a5.188 5.188 0 0 0-5.188-5.188h-13.313a5.185 5.185 0 0 0-5.188 5.188V171.84h79.876V68.705a5.188 5.188 0 0 0-5.188-5.188h-13.313a5.183 5.183 0 0 0-3.671 1.519 5.189 5.189 0 0 0-1.521 3.67Z'
      )
      path(
        fill='#3D63AD',
        d='M235.797 97.101c-8.973 0-16.247 7.274-16.247 16.247v8.447h32.494v-8.447c0-8.973-7.273-16.247-16.247-16.247Z'
      )
      path(
        fill='#C7DAFF',
        d='M308.693 143.558h-15.389a5.242 5.242 0 0 0-5.243 5.243v14.122h-31.377v-14.122a5.242 5.242 0 0 0-5.243-5.243h-31.288a5.242 5.242 0 0 0-5.243 5.243v14.122h-31.378v-14.122a5.233 5.233 0 0 0-1.535-3.707 5.253 5.253 0 0 0-3.707-1.536h-30.78a5.252 5.252 0 0 0-3.707 1.536 5.234 5.234 0 0 0-1.535 3.707v44.664h187.057v-44.664a5.242 5.242 0 0 0-5.243-5.243h-15.389ZM235.797 319.86H93.271v154.196h285.052V319.86H235.797Z'
      )
      path(
        fill='#466DBC',
        d='M93.271 319.86v28.191h285.052V319.86H93.271Zm144.272 43.841c-48.708 0-88.194 39.485-88.194 88.194v22.161h176.388v-22.161c-.001-48.709-39.486-88.194-88.194-88.194Z'
      )
      path(
        fill='#C7DAFF',
        d='M306.481 396.921a88.603 88.603 0 0 0-12.773-13.023v55.794h-18.724V372.04a87.528 87.528 0 0 0-12.774-4.815v72.468h-18.28v-75.735c-2.111-.15-4.236-.255-6.387-.255-2.15 0-4.275.104-6.388.255v75.735h-18.722v-72.342a87.466 87.466 0 0 0-12.774 4.89v67.452h-18.28v-55.794a88.758 88.758 0 0 0-12.774 13.023v42.771H150.21a88.812 88.812 0 0 0-.86 12.203v.571h19.255v21.591h12.774v-21.591h18.28v21.591h12.774v-21.591h18.723v21.591h12.774v-21.591h18.28v21.591h12.774v-21.591h18.724v21.591h12.773v-21.591h19.255v-.571a88.97 88.97 0 0 0-.86-12.203h-18.395v-42.772Zm48.088-104.057v14.483h-23.755v-14.483a4.897 4.897 0 0 0-4.896-4.896h-37.715a4.897 4.897 0 0 0-4.896 4.896v14.483h-23.754v-14.483a4.897 4.897 0 0 0-4.896-4.896h-37.716a4.897 4.897 0 0 0-4.896 4.896v14.483h-23.754v-14.483a4.897 4.897 0 0 0-4.896-4.896H145.68a4.897 4.897 0 0 0-4.896 4.896v14.483H117.03v-14.483a4.897 4.897 0 0 0-4.896-4.896H93.276v41.963h285.047v-41.963h-18.858a4.899 4.899 0 0 0-4.896 4.896Z'
      )
      path(fill='#819FEA', d='m100.575 270.147 18.251 203.909H0l13.979-203.909h86.596Z')
      path(
        fill='#C7DAFF',
        d='M90.023 223.044v14.137H68.767v-14.137a5.243 5.243 0 0 0-5.243-5.243H50.255a5.245 5.245 0 0 0-5.243 5.243v14.137H23.754v-14.137a5.242 5.242 0 0 0-5.243-5.243H5.242a5.251 5.251 0 0 0-3.707 1.536A5.245 5.245 0 0 0 0 223.044v47.104h113.778v-47.104a5.242 5.242 0 0 0-5.243-5.243H95.266a5.253 5.253 0 0 0-3.708 1.536 5.226 5.226 0 0 0-1.535 3.707Z'
      )
      path(fill='#466DBC', d='m102.431 290.883-1.856-20.736H13.979l-1.421 20.736h89.873Z')
      path(
        fill='#3D63AD',
        d='M83.208 474.056v-32.567c0-12.917-10.472-23.389-23.389-23.389S36.43 428.572 36.43 441.489v32.567h46.778Zm-8.866-103.378H45.297v-19.414c0-8.02 6.502-14.521 14.522-14.521 8.021 0 14.522 6.502 14.522 14.521v19.414h.001Z'
      )
      path(fill='#819FEA', d='M369.091 270.147 350.84 474.056h118.826l-13.979-203.909h-86.596Z')
      path(
        fill='#C7DAFF',
        d='M379.643 223.044v14.137H400.9v-14.137a5.242 5.242 0 0 1 5.243-5.243h13.269a5.242 5.242 0 0 1 5.243 5.243v14.137h21.258v-14.137a5.233 5.233 0 0 1 1.535-3.707 5.253 5.253 0 0 1 3.707-1.536h13.269a5.242 5.242 0 0 1 5.243 5.243v47.104H355.888v-47.104a5.242 5.242 0 0 1 5.243-5.243H374.4a5.257 5.257 0 0 1 3.708 1.536 5.233 5.233 0 0 1 1.535 3.707Z'
      )
      path(fill='#466DBC', d='m367.235 290.883 1.856-20.736h86.596l1.421 20.736h-89.873Z')
      path(
        fill='#3D63AD',
        d='M386.458 474.056v-32.567c0-12.917 10.472-23.389 23.389-23.389s23.389 10.472 23.389 23.389v32.567h-46.778Zm8.866-103.378h29.044v-19.414c0-8.02-6.501-14.521-14.521-14.521-8.021 0-14.522 6.502-14.522 14.521v19.414h-.001Z'
      )
      defs
        lineargradient#castle-a(x1='235.797', x2='235.797', y1='9.307', y2='71.838', gradientunits='userSpaceOnUse')
          stop(offset='.005', stop-color='#FFC3B0')
          stop(offset='1', stop-color='#E8897B')
    symbol#king(viewbox='0 0 160 160')
      path(
        fill='#59E1FF',
        d='M41.15 98.667s-6.083 2.781-5.913 8.153c.052 1.644.77 3.192 1.853 4.43 1.32 1.508 3.7 4.243 5.956 6.927 2.78 3.305 5 7.054 6.466 11.116 3.326 9.213 13.865 28.809 43.33 28.813 2.239 0 4.453-.47 6.5-1.378 8.424-3.735 28.958-16.46 25.006-50.706 0 0-8.328-.514-15.943 18.225-1.433 3.525-4.653 6.045-8.445 6.372-8.104.699-22.34-1.722-35.378-22.289-2.817-4.443-6.904-7.996-11.853-9.78-3.746-1.352-8.038-1.947-11.579.117Z'
      )
      path(
        fill='#30A7EA',
        d='M124.348 106.022s-8.329-.514-15.944 18.226c-1.432 3.525-4.652 6.043-8.442 6.371-6.28.542-16.243-.796-26.477-10.993l-2.398 1.237s10.641 16.355 24.634 22.019a4.494 4.494 0 0 0 2.696.194 25.857 25.857 0 0 0 9.891-4.716c1.501-1.169 3.662.227 3.253 2.086-.691 3.139-1.818 7.113-3.632 11.162 9.017-6.899 19.321-20.433 16.419-45.586Z'
      )
      path(
        fill='url(#king-a)',
        d='M72.78 81.737s-10.943-6.446-18.888 6.446c0 0-14.792-2.985-19.714 9.894-.45 1.176.097 2.502 1.212 3.086a2.524 2.524 0 0 0 2.4-.03c2.36-1.317 7.108-4.705 12.054-.807 0 0 8.247 5.585 14.823 14.133 2.585 3.36 5.328 6.594 8.41 9.504 5.592 5.279 14.21 12.155 22.947 14.237.667.158 1.36.103 2.005-.13 3.161-1.148 12.518-5.8 17.759-21.816.765-2.335 2.052-4.497 3.852-6.17 1.266-1.178 2.866-2.224 4.728-2.527 1.107-.18 1.845-1.246 1.544-2.328-.586-2.103-2.06-5.027-5.761-5.953 0 0-.42-7.645-7.556-10.493L72.78 81.737Z'
      )
      path(
        fill='#A03774',
        d='M115.898 115.914c.438-1.366 1.052-2.674 1.924-3.813 1.358-1.775 3.63-4.069 6.545-4.544 1.108-.181 1.845-1.246 1.544-2.328-.586-2.103-2.059-5.027-5.761-5.953 0 0-.42-7.645-7.555-10.493l-6.542-1.158-6.14 11.951c5.534 1.022 6.673 4.909 6.809 7.422a4.27 4.27 0 0 0 1.858 3.285c6.149 4.26 3.645 13.088 2.485 16.259 1.778-2.835 3.455-6.324 4.833-10.628Z'
      )
      path(fill='#A03774', d='M84.238 98.667s9.532 6.308 9.97 15.828h2.743s-.932-9.066 5.744-14.624v-1.204H84.238Z')
      path(
        fill='#E6E6F8',
        d='M64.603 37.044s-7.57 2.812-7.57 11.228v15.333s-.26 4.046-3.262 4.307c0 0-1.42.203-2.615-.593-1.213-.806-2.822-.025-2.961 1.426-.138 1.437.006 3.163.788 5.053.697 1.684 1.839 3.154 3.236 4.324 3.346 2.8 10.977 7.002 23.067 1.665V37.044H64.603Z'
      )
      path(fill='#C66760', d='M112.812 67.01h-1.444V55.09h1.444a5.96 5.96 0 0 1 0 11.918Z')
      path(fill='url(#king-b)', d='M73.964 37.044h38.631v48.048h-38.63V37.044Z')
      path(fill='#E8897B', d='M81.307 42.333h18.727a4.763 4.763 0 0 1 4.763 4.764v37.995h7.798V37.044H81.307v5.29Z')
      path(
        fill='#333345',
        d='M92.458 51.773a1.75 1.75 0 1 0 0-3.5 1.75 1.75 0 0 0 0 3.5ZM107.56 51.773a1.75 1.75 0 1 0 0-3.502 1.75 1.75 0 0 0 0 3.502Z'
      )
      path(
        fill='#B3B3C5',
        d='M68.518 63.866c.522 17.48-15.571 14.823-15.586 14.82 3.653 2.745 11.054 6.09 22.355 1.101v-15.92h-6.77Z'
      )
      path(
        fill='#E6E6F8',
        d='M82.868 37.044s1.919 10.725-6.164 14.729v19.199c0 2.727 1.153 5.385 3.306 7.059 1.267.986 2.948 1.84 5.123 2.146.943.133 1.818-.505 2.06-1.426.783-2.994 3.49-9.413 12.425-10.888 2.988-.493 6.082-.293 8.896.826 3.542 1.41 7.712 4.563 7.886 11.608 0 11.5-9.323 20.823-20.823 20.823H91.91c-11.5 0-20.822-9.323-20.822-20.823V37.044h11.78Z'
      )
      path(
        fill='#E8897B',
        d='M69.643 67.01h1.444V55.09h-1.444a5.96 5.96 0 0 0 0 11.918Zm35.867-4.406h-3.512a2.084 2.084 0 0 1 0-4.17h3.512a2.084 2.084 0 1 1 0 4.17Z'
      )
      path(
        fill='#B3B3C5',
        d='M116.4 80.297c-.175-7.045-4.344-10.198-7.886-11.608a15.19 15.19 0 0 0-3.715-.937c.039.081 8.69 18.112.578 30.915 6.558-3.505 11.023-10.414 11.023-18.37Z'
      )
      path(
        fill='#AD6D2A',
        d='M77.998 23.416c-3.099-1.5-4.311-5.285-3.005-8.47a9.639 9.639 0 0 1 .99-1.826c.428-.618.44-1.429.002-2.04-1.24-1.732-2.376-3.713-3.153-5.16a1.193 1.193 0 0 0-2.101 0c-.778 1.447-1.913 3.428-3.154 5.16a1.765 1.765 0 0 0 .002 2.04c.395.57.727 1.183.99 1.825 1.307 3.186.094 6.971-3.005 8.471-1.116.54-3.431 1.014-5.307 1.014l.868 6.52h21.313l1.023-6.987c-1.876 0-4.347-.007-5.463-.547Z'
      )
      path(fill='#B3B3C5', d='M58.57 42.333h16.717v-5.289H64.603s-3.823 1.437-6.034 5.29Z')
      path(fill='#B3B3C5', d='M82.893 42.333c.387-2.92-.025-5.289-.025-5.289h-11.78v5.29h11.805Z')
      path(
        fill='#AD6D2A',
        d='M108.522 23.416c-3.099-1.5-4.312-5.285-3.005-8.47a9.605 9.605 0 0 1 .99-1.826 1.766 1.766 0 0 0 .002-2.04c-1.241-1.732-2.376-3.713-3.154-5.16a1.193 1.193 0 0 0-2.101 0c-.777 1.447-1.913 3.428-3.154 5.16a1.765 1.765 0 0 0 .003 2.04c.395.57.726 1.183.99 1.825 1.306 3.186.094 6.971-3.005 8.471-1.116.54-3.431 1.014-5.307 1.014l.867 6.52h21.314l1.023-6.987c-1.876 0-4.347-.007-5.463-.547Z'
      )
      path(
        fill='#FFCA95',
        d='M111.647 10.736a2.546 2.546 0 0 0-.023 2.948c.594.86 1.088 1.783 1.474 2.754 1.784 4.48-.103 9.998-4.467 12.05-1.583.744-3.623 1.237-6.248 1.237-2.687 0-4.76-.516-6.359-1.29-4.438-2.148-6.174-7.57-4.303-12.132.377-.92.853-1.796 1.418-2.615a2.547 2.547 0 0 0-.016-2.946c-2.025-2.832-3.852-6.123-4.945-8.207a1.192 1.192 0 0 0-2.115 0c-1.091 2.082-2.916 5.368-4.939 8.199a2.557 2.557 0 0 0-.02 2.955c.59.855 1.082 1.774 1.467 2.74 1.818 4.558.053 9.881-4.368 12.013-1.597.77-3.666 1.282-6.344 1.282-2.604 0-4.631-.484-6.21-1.218-4.39-2.044-6.297-7.57-4.506-12.07.386-.97.88-1.893 1.475-2.752a2.55 2.55 0 0 0-.023-2.948c-1.411-1.974-2.726-4.17-3.762-6.024-.6-1.074-2.236-.639-2.236.59v30.885a3.037 3.037 0 0 0 3.037 3.037h54.973a3.037 3.037 0 0 0 3.037-3.037V5.303c0-1.23-1.635-1.664-2.235-.591-1.037 1.855-2.352 4.05-3.762 6.024Z'
      )
      path(
        fill='#FBB04D',
        d='M114.607 39.225a3.037 3.037 0 0 0 3.037-3.037V5.303c0-1.23-1.635-1.664-2.235-.59-1.037 1.854-2.352 4.05-3.762 6.024a2.546 2.546 0 0 0-.023 2.948c.594.859 1.088 1.782 1.474 2.753 1.784 4.48-.103 9.998-4.467 12.05-1.583.745-3.623 1.237-6.248 1.237-2.687 0-4.76-.516-6.359-1.29-4.438-2.148-6.174-7.57-4.303-12.132.377-.92.853-1.796 1.418-2.614a2.548 2.548 0 0 0-.016-2.947c-2.025-2.832-3.852-6.123-4.945-8.206a1.181 1.181 0 0 0-1.057-.643v32.815s-.156 4.516 5.139 4.516h22.347ZM95.416 127.714c3.643 0 6.596-3.346 6.596-7.473s-2.953-7.473-6.596-7.473c-3.643 0-6.596 3.346-6.596 7.473s2.953 7.473 6.596 7.473Z'
      )
      path(
        fill='#FFCA95',
        d='M92.864 121.498c1.138.2 2.244-.684 2.47-1.974.227-1.29-.512-2.498-1.65-2.698-1.139-.199-2.245.685-2.471 1.975-.227 1.29.513 2.497 1.65 2.697Z'
      )
      defs
        lineargradient#king-a(x1='78.804', x2='100.379', y1='111.602', y2='-56.182', gradientunits='userSpaceOnUse')
          stop(stop-color='#CC5697')
          stop(offset='1', stop-color='#8E3979')
        lineargradient#king-b(x1='93.279', x2='93.279', y1='74.94', y2='6.051', gradientunits='userSpaceOnUse')
          stop(offset='.005', stop-color='#FFC3B0')
          stop(offset='1', stop-color='#E8897B')
    symbol#pouch(viewbox='0 0 160 160')
      path(
        fill='#BC6662',
        d='m49.765 43.989-3.393-.12s-3.371-1.073-.685-5.222c2.685-4.15 7.609-4.772 10.095-10.736 0 0 .547 11.669-6.017 16.078Z'
      )
      path(
        fill='#DB8B84',
        d='M64.817 24.044c-.963-1.58-2.908-2.152-4.511-1.31-2.17 1.14-5 3.412-6.334 7.802-.258.849-.385 1.737-.473 2.623-.21 2.114-1.322 7.52-7.127 10.71 0 0 7.491 5.428 13.326 0 0 0 8.043-7.236 13.563-3.535 0 0-5.205-10.972-8.444-16.29ZM80.25 39.303s-.09-5.653 5.14-11.392c0 0 5.85-5.919 6.22-12.32.204-3.506-2.347-6.572-5.686-7.034-2.997-.415-7.308.21-12.357 4.54l-1.934 1.765a2.364 2.364 0 0 0-.438 2.918c2.385 4.1 8.387 14.967 9.055 21.523Z'
      )
      path(
        fill='#F7BBB6',
        d='M63.602 28.324s2.129 2.59 6.946.16c1.523-.768 2.82-2.015 3.489-3.636.56-1.357.786-3.136-.239-5.12 0-.001 6.4 6.673 7.484 21.718h-7.7s-7.485-4.185-9.98-13.122Z'
      )
      path(
        fill='#BC6662',
        d='M68.563 29.726c-1.352.254-4.028.048-4.96-1.402-1.38-2.143-.61-4.408 2.1-6.658 0 0 6.111-4.717 8.192-1.833.5.695 1.04 2.672.785 4.291-.346 2.206-1.846 4.797-6.117 5.602Z'
      )
      path(
        fill='url(#pouch-a)',
        d='M74.042 48.399s-3.266 2-4.52 6.387c0 0-6.004 19.987-21.646 31.636-1.708 1.271-3.332 2.645-4.737 4.245-4.817 5.486-13.449 19.034-6.49 35.978 0 0 7.292 19.936 38.344 24.389 11.454 1.643 23.229-.607 32.9-6.961 7.305-4.798 14.466-12.408 17.281-24.366.949-4.033 1.066-8.204.196-12.255-1.175-5.472-4.228-13.149-12.037-19.787-5.006-4.256-9.722-8.84-13.805-13.987-6.023-7.593-13.535-18.034-16.537-26.231l-8.95.952Z'
      )
      path(
        fill='#DB8B84',
        d='M113.333 87.665c-5.006-4.256-9.721-8.84-13.805-13.987a217.745 217.745 0 0 1-2.938-3.79c1.856 7.187 3.346 15.593 3.452 24.302.33 27.389-21.496 48.698-46.812 49.723 5.458 3.118 12.56 5.801 21.763 7.121 11.455 1.643 23.229-.607 32.901-6.961 7.304-4.798 14.466-12.408 17.28-24.366.949-4.033 1.067-8.204.197-12.255-1.175-5.472-4.229-13.149-12.038-19.787Zm-36.61-45.76s-2.246 9.52-4.06 14.095a2.869 2.869 0 0 0-.193 1.47c.408 3.071 4.742 2.936 5.066-.15.075-.713.103-1.563.05-2.571 0 0-1.433-7.953-.863-12.843Z'
      )
      path(
        fill='#A0376F',
        d='M78.735 47.35s5.97 14.79-.836 31.479a2.023 2.023 0 0 0 2.945 2.485 2.02 2.02 0 0 0 .861-1.117c1.53-4.946 5.455-20.026.949-32.583l-3.92-.264Z'
      )
      path(
        fill='#C14C82',
        d='M69.522 42.406a2.44 2.44 0 0 0 2.142 2.422l10.284 1.263a2.44 2.44 0 0 0 2.738-2.422v-.161a2.44 2.44 0 0 0-2.18-2.426L72.222 39.98a2.44 2.44 0 0 0-2.7 2.426Zm9.343 6.715s11.974 14.404 4.956 53.421a2.421 2.421 0 0 0 2.857 2.813 2.41 2.41 0 0 0 1.885-1.904c1.634-8.444 6.161-37.593-5.095-55.052l-4.603.722Z'
      )
      path(
        fill='#A0376F',
        d='M69.522 46.878v.253c0 1.182.906 2.167 2.084 2.265l10.618.885a2.273 2.273 0 0 0 .431-4.525l-10.618-1.138a2.273 2.273 0 0 0-2.515 2.26Z'
      )
      defs
        lineargradient#pouch-a(x1='75.613', x2='94.603', y1='77.36', y2='234.197', gradientunits='userSpaceOnUse')
          stop(offset='.01', stop-color='#F7BBB6')
          stop(offset='1', stop-color='#DB8B84')
    symbol#viking(viewbox='0 0 160 160')
      path(fill='#C7DAFF', d='M90.331 7.613a2.017 2.017 0 1 0 0-4.033 2.017 2.017 0 0 0 0 4.033Z')
      path(
        fill='#A06260',
        d='M110.324 39.112s3.774.942 5.156 5.507c.965 3.19.322 6.74-2.11 9.02-1.069 1.003-2.543 1.833-4.548 2.012l1.502-16.54Z'
      )
      path(
        fill='#F9C8B2',
        d='M63.297 84.566s-18.085 3.647-32.95 22.02c-1.553 1.919-1.22 4.759.773 6.214 3.81 2.78 9.914 8.98 15.82 22.403 0 0 7.528 19.27 35.046 21.402 4.861.376 9.775-.386 14.199-2.437 8.603-3.989 21.598-13.594 23.306-35.544.368-4.74-.377-9.526-2.423-13.817-4.661-9.774-17.64-23.176-53.771-20.24Z'
      )
      path(
        fill='#DDA288',
        d='M119.491 118.624c.368-4.74-.378-9.526-2.424-13.817-4.118-8.638-14.746-20.1-42.094-20.625L72.63 89.96l-2.961 13.329s4.807 17.136 25.974 18.643c0 0 12.645 1.34 5.429 29.552 7.958-5.091 17.013-14.791 18.419-32.861Z'
      )
      path(fill='#D39671', d='M89.72 141.232a3.373 3.373 0 1 0 .002-6.746 3.373 3.373 0 0 0-.001 6.746Z')
      path(
        fill='#773E41',
        d='M65 36.464S49.62 46.697 43.462 60.592c-2.12 4.783-2.274 10.292.022 14.993 2.302 4.713 7.255 9.8 17.86 11.3l3.654-50.42Z'
      )
      path(fill='#C66760', d='M107.233 67.652h1.841a6.001 6.001 0 0 0 0-12.002h-1.841v12.002Z')
      path(
        fill='#EEF6FF',
        d='M66.098 32.445V19.921C50.798 19.667 45.99 9.323 44.52 3.925c-.228-.837-1.412-.826-1.636.012-2.224 8.33-5.268 29.857 23.213 28.508Z'
      )
      path(
        fill='#819FEA',
        d='M108.822 30.997V19.879c13.581-.226 17.85-9.407 19.154-14.2.202-.742 1.253-.733 1.451.011 1.975 7.396 4.677 26.504-20.605 25.307Z'
      )
      path(
        fill='#C7DAFF',
        d='M66.098 32.445V19.921a28.092 28.092 0 0 1-6.509-.85c-1.168 3.455-4.216 7.814-12.104 8.899 3.723 3.024 9.578 4.903 18.613 4.475Z'
      )
      path(fill='url(#viking-a)', d='m111.153 39.112-.829 43.703H59.706l.85-43.293 50.597-.41Z')
      path(
        fill='#BC7D5C',
        d='M37.083 100.308c3.724.349 8.8 1.397 13.42 4.284 6.18 3.862 13.067 6.431 20.327 7.067 13.098 1.147 32.272.752 46.213-8.402 1.573-1.033 1.964-3.173.891-4.718-3.911-5.63-15.967-17.487-48.199-17.623 0 0-19.74 1.012-34.166 14.975-1.586 1.536-.683 4.21 1.514 4.417Z'
      )
      path(
        fill='url(#viking-b)',
        d='m60.174 39.112-.533 49.782c-.197 18.336 14.613 33.305 32.95 33.305 9.794 0 17.732-7.938 17.732-17.731v-31.38l-28.932.15-8.084 4.48S62.4 73.535 62.4 56.62V39.112h-2.226Z'
      )
      path(
        fill='#E8897B',
        d='M100.66 49.13v33.685h9.664l.829-43.703-24.545.199c2.209.259 5.744.826 8.725 2.003a8.406 8.406 0 0 1 5.327 7.816Z'
      )
      path(
        fill='#773E41',
        d='M100.6 86.885v15.409c0 4.344-.853 8.67-2.71 12.596-1.188 2.51-2.889 5.129-5.277 7.309 9.783-.012 17.711-7.945 17.711-17.731v-31.38l-4.547.024-14.781 1.912s9.115.255 9.604 11.861ZM60.006 59.257s2.058-7.55 9.306-9.774c4.236-1.3 7.6-4.963 7.168-9.958H60.175l-.17 19.733Z'
      )
      path(
        fill='#333345',
        d='M86.91 53.453a2.476 2.476 0 1 0 0-4.952 2.476 2.476 0 0 0 0 4.952ZM105.595 53.453a2.476 2.476 0 1 0 0-4.951 2.476 2.476 0 0 0 0 4.951Z'
      )
      path(
        fill='#BC8285',
        d='M116.597 74.615c-1.925-.577-4.216-1.835-5.737-4.555-1.837-3.284-5.027-5.468-8.565-6.2-2.007-.414-11.296-.414-13.303 0-3.538.732-6.729 2.916-8.565 6.2-1.521 2.72-3.812 3.978-5.736 4.555-1.713.513-2.115 2.914-.691 4.044 2.895 2.3 6.522 2.447 9.138 2.137a6.443 6.443 0 0 0 4.51-2.674c3.069-4.343 12.923-4.343 15.991 0a6.444 6.444 0 0 0 4.51 2.674c2.617.31 6.244.162 9.139-2.137 1.423-1.13 1.021-3.532-.691-4.044Z'
      )
      path(fill='#EEF6FF', d='M84.467 31.463V8.379s-21.414-.484-23.673 22.203l23.673.88Z')
      path(
        fill='#EEF6FF',
        d='M96.966 30.582h-13.27V7.826a2.227 2.227 0 0 1 2.23-2.23h8.81a2.228 2.228 0 0 1 2.23 2.23v22.756Z'
      )
      path(
        fill='#C7DAFF',
        d='M114.086 40.688H61.378a2.948 2.948 0 0 1-2.947-2.948v-5.474a2.948 2.948 0 0 1 2.947-2.948h52.708a2.95 2.95 0 0 1 2.948 2.948v5.474a2.95 2.95 0 0 1-2.948 2.948Z'
      )
      path(
        fill='#819FEA',
        d='M117.034 32.266a2.948 2.948 0 0 0-2.948-2.948h-12.247c-.404 2.86-2.958 10.548-13.79 11.37h26.037a2.95 2.95 0 0 0 2.948-2.948v-5.474Z'
      )
      path(
        fill='#9E6369',
        d='M116.597 74.615c-1.925-.577-4.216-1.835-5.737-4.555a12.476 12.476 0 0 0-4.586-4.656c.107 5.99-3.755 8.656-7.486 9.83 2.036.482 3.825 1.437 4.851 2.889a6.444 6.444 0 0 0 4.51 2.673c2.617.31 6.243.162 9.139-2.137 1.423-1.13 1.021-3.532-.691-4.044Z'
      )
      path(fill='#E8897B', d='M96.43 61.651a1.197 1.197 0 1 0 0-2.394 1.197 1.197 0 0 0 0 2.394Z')
      path(
        fill='#C7DAFF',
        d='M90.331 25.04a2.017 2.017 0 1 0 0-4.035 2.017 2.017 0 0 0 0 4.034ZM90.331 15.806a2.017 2.017 0 1 0 0-4.034 2.017 2.017 0 0 0 0 4.034Z'
      )
      defs
        lineargradient#viking-a(x1='85.43', x2='85.43', y1='45.367', y2='102.185', gradientunits='userSpaceOnUse')
          stop(offset='.005', stop-color='#FFC3B0')
          stop(offset='1', stop-color='#E8897B')
        lineargradient#viking-b(x1='84.981', x2='84.981', y1='106.925', y2='43.422', gradientunits='userSpaceOnUse')
          stop(stop-color='#A06260')
          stop(offset='1', stop-color='#82494C')
    symbol#centaur(viewbox='0 0 160 160')
      path(
        fill='#E8897B',
        d='M43.831 25.126h-.888a3.309 3.309 0 0 1 0-6.618h.888v6.618Zm19.127 0h.887a3.31 3.31 0 1 0 0-6.618h-.887v6.618Z'
      )
      path(
        fill='#F9C8B2',
        d='M125.029 98.481s.345-4.74 4.074-7.67c4.616-3.625 11.578-2.354 14.689 2.624 1.582 2.531 2.615 6.344 1.87 12.068-.171 1.315-.496 2.601-.881 3.87-.638 2.104-1.508 6.083.441 7.598.897.697 1.516 1.689 1.516 2.825v.199c0 .695-.207 1.372-.608 1.94-.896 1.272-2.794 3.308-5.755 3.308 0 0-8.048.704-10.48-7.695l-4.866-19.067Z'
      )
      path(
        fill='#CE957D',
        d='m127.973 110.015 1.921 7.532c2.433 8.399 10.481 7.696 10.481 7.696 2.961 0 4.859-2.037 5.755-3.308a3.354 3.354 0 0 0 .608-1.94v-.199c0-1.136-.619-2.129-1.516-2.826-1.949-1.515-1.079-5.493-.441-7.597.385-1.269.71-2.555.881-3.87.745-5.724-.289-9.538-1.871-12.069-1.432-2.29-3.682-3.785-6.142-4.39.827 5.668.722 16.104-9.676 20.971Z'
      )
      path(
        fill='#56232B',
        d='M98.192 121.899s14.597 14.972 4.491 29.943c0 0-.624 1.088-1.071 2.58a2.48 2.48 0 0 0 2.374 3.191h11.962s9.005-19.62-2.785-35.714H98.192Z'
      )
      path(
        fill='#333345',
        d='M103.708 150.158a22.56 22.56 0 0 1-1.025 1.684s-.624 1.088-1.071 2.58a2.481 2.481 0 0 0 2.374 3.192h11.962s1.343-2.935 2.312-7.456h-14.552Z'
      )
      path(
        fill='url(#centaur-a)',
        d='M55.005 76.694 37.66 81.51v41.87c0 1.049.148 2.095.455 3.098 1.234 4.024 4.322 16.15.871 27.549-.54 1.786.782 3.587 2.648 3.587h8.428a3.657 3.657 0 0 0 3.079-1.661c1.117-1.728 2.72-4.772 3.56-8.974.118-.591-.49-10.89-1.196-17.88a4.621 4.621 0 0 1 4.602-5.085h4.719a4.62 4.62 0 0 1 4.612 4.271c.497 6.499.945 18.9-1.963 26.368-.557 1.428.498 2.961 2.031 2.961h8.725a4.027 4.027 0 0 0 3.57-2.146c1.027-1.951 2.438-4.963 3.103-7.877a6.04 6.04 0 0 0 .131-1.549l-.629-18.738a3.333 3.333 0 0 1 3.331-3.444h18.916c1.798 0 3.494.826 4.588 2.252 3.276 4.273 8.857 14.352 2.454 27.871-.799 1.686.389 3.632 2.254 3.632h8.043a3.415 3.415 0 0 0 2.844-1.511c1.516-2.266 4.221-6.898 5.448-12.643.309-1.446.056-2.961-.667-4.251l-.301-.537a6.173 6.173 0 0 1-.786-3.013v-26.135a17.21 17.21 0 0 0-10.897-16.01L71.498 74.537l-16.493 2.157Z'
      )
      path(
        fill='#773E41',
        d='M67.474 154.652c-.556 1.428.498 2.962 2.031 2.962h8.725a4.028 4.028 0 0 0 3.57-2.146c1.027-1.951 2.438-4.963 3.103-7.878a6.032 6.032 0 0 0 .131-1.549l-.454-13.53c-2.057 5.726-6.788 15.344-16.025 18.495-.295 1.298-.647 2.531-1.08 3.646Zm63.841-15.98a6.173 6.173 0 0 1-.786-3.013v-26.135c0-4.817-2.01-9.297-5.37-12.485-1.275 6.213-6.832 21.283-30.867 26.819h12.361c1.797 0 3.494.827 4.587 2.253 3.276 4.273 8.858 14.351 2.454 27.871-.798 1.686.389 3.631 2.255 3.631h8.043a3.412 3.412 0 0 0 2.843-1.511c1.516-2.265 4.221-6.897 5.449-12.643.308-1.446.055-2.96-.667-4.25l-.302-.537Zm-75.414-5.21c-1.44 4.799-5.44 13.309-16.266 18.042a34.069 34.069 0 0 1-.649 2.522c-.54 1.786.782 3.587 2.648 3.587h8.428a3.657 3.657 0 0 0 3.079-1.661c1.117-1.728 2.72-4.772 3.56-8.974.095-.476-.281-7.247-.8-13.516Zm6.415-15.499c-4.082 0-7.404 3.366-7.266 7.446.068 2.04.454 3.689.454 3.689a4.621 4.621 0 0 1 4.602-5.085h4.72a4.62 4.62 0 0 1 4.612 4.272c.122-1.209.165-2.277.147-3.22-.077-3.951-3.316-7.102-7.268-7.102Zm47.048-28.497-37.867-14.93-2.748.36c-1.131 5.05-2.64 9.568-4.649 12.09 0 0 30.064 11.831 45.264 2.48Z'
      )
      path(
        fill='url(#centaur-b)',
        d='M90.942 42.578c-2.939-4.879-8.54-10.083-19.065-10.083h-35.67s-.096-.002-.26 0h-.445v.012c-3.186.134-16.314 1.568-20.996 15.953-2.051 6.302-1.67 13.71 1.93 19.273 2.561 3.958 7.295 7.993 14.545 9.157 2.827.454 5.342-1.88 5.221-4.74l-.005-.122c-.078-1.843-1.264-3.432-2.982-4.104-3.243-1.268-6.997-3.804-6.808-9.997.265-8.646 7.71-10.372 9.804-10.688l1.448 34.27s9.135 6.414 17.088 9.913c1.8.792 3.893.45 5.377-.841 3.555-3.09 10.064-9.061 12.37-13.233l-.617-30.21v-.39s6.495.824 9.267 6.113c.964 1.84 1.29 3.975.98 6.03-.35 2.321-1.57 5.386-5.38 6.962-1.86.769-3.114 2.535-3.114 4.547 0 3.13 2.913 5.501 5.957 4.766 5.805-1.403 12.832-5.366 14.399-16.544.776-5.543-.157-11.251-3.044-16.044Z'
      )
      path(
        fill='#E8897B',
        d='M45.774 60.041h-2.733a.995.995 0 1 1 0-1.99h2.733a.995.995 0 0 1 0 1.99Zm19.43 0H62.47a.995.995 0 1 1 0-1.99h2.733a.995.995 0 0 1 0 1.99Zm1.461-21.565v-5.981H51.662v14.93h6.053a8.95 8.95 0 0 0 8.95-8.95Zm5.829 38.872-.573-28.075s-1.265 29.478-7.82 37.713c3.233-3.049 6.807-6.769 8.393-9.638Z'
      )
      path(
        fill='url(#centaur-c)',
        d='M53.394 47.866c-5.912 0-10.705-4.794-10.705-10.706V13.092c0-5.912 4.793-10.705 10.705-10.705 5.913 0 10.706 4.793 10.706 10.705V37.16c0 5.913-4.793 10.706-10.706 10.706Z'
      )
      path(
        fill='url(#centaur-d)',
        d='M42.689 35.831v.962c0 5.702 4.303 10.681 9.993 11.05 6.235.403 11.418-4.535 11.418-10.683v-1.328c0-5.913-4.793-10.706-10.705-10.706-5.913 0-10.706 4.793-10.706 10.705Z'
      )
      path(
        fill='#333345',
        d='M49.54 20.137a1.629 1.629 0 1 0 0-3.258 1.629 1.629 0 0 0 0 3.258ZM57.248 20.137a1.63 1.63 0 1 0 0-3.258 1.63 1.63 0 0 0 0 3.258Z'
      )
      path(
        fill='#4D4D5F',
        d='M41.634 157.613h8.428a3.656 3.656 0 0 0 3.079-1.66c.81-1.255 1.875-3.213 2.72-5.795H39.907a34.867 34.867 0 0 1-.92 3.868c-.54 1.786.782 3.587 2.648 3.587Zm27.871 0h8.726a4.028 4.028 0 0 0 3.569-2.145c.725-1.377 1.636-3.284 2.346-5.31H68.744c-.327 1.616-.742 3.138-1.27 4.494-.556 1.428.498 2.961 2.031 2.961Zm45.722-7.455a33.041 33.041 0 0 1-1.533 3.824c-.798 1.686.389 3.631 2.255 3.631h8.043a3.414 3.414 0 0 0 2.843-1.51 39.851 39.851 0 0 0 3.243-5.945h-14.851Z'
      )
      defs
        lineargradient#centaur-a(x1='37.66', x2='132.413', y1='116.075', y2='116.075', gradientunits='userSpaceOnUse')
          stop(stop-color='#A06260')
          stop(offset='1', stop-color='#82494C')
        lineargradient#centaur-b(x1='53.755', x2='53.755', y1='35.986', y2='105.708', gradientunits='userSpaceOnUse')
          stop(offset='.005', stop-color='#FFC3B0')
          stop(offset='1', stop-color='#E8897B')
        lineargradient#centaur-c(x1='53.394', x2='53.394', y1='12.072', y2='40.672', gradientunits='userSpaceOnUse')
          stop(offset='.005', stop-color='#FFC3B0')
          stop(offset='1', stop-color='#E8897B')
        lineargradient#centaur-d(x1='42.689', x2='64.1', y1='36.496', y2='36.496', gradientunits='userSpaceOnUse')
          stop(stop-color='#A06260')
          stop(offset='1', stop-color='#82494C')
    symbol#google-play(viewbox='0 0 135 40')
      path(
        fill='#000',
        d='M130 40H5c-2.75 0-5-2.25-5-5V5c0-2.75 2.25-5 5-5h125c2.75 0 5 2.25 5 5v30c0 2.75-2.25 5-5 5Z'
      )
      path(
        fill='#A6A6A6',
        d='M130 .8a4.2 4.2 0 0 1 4.2 4.2v30a4.2 4.2 0 0 1-4.2 4.2H5A4.2 4.2 0 0 1 .8 35V5A4.2 4.2 0 0 1 5 .8h125Zm0-.8H5C2.25 0 0 2.25 0 5v30c0 2.75 2.25 5 5 5h125c2.75 0 5-2.25 5-5V5c0-2.75-2.25-5-5-5Z'
      )
      path(
        fill='#fff',
        stroke='#fff',
        stroke-miterlimit='10',
        stroke-width='.2',
        d='M47.42 10.24c0 .84-.25 1.51-.75 2-.56.59-1.3.89-2.2.89-.87 0-1.6-.3-2.21-.9-.61-.6-.91-1.35-.91-2.23 0-.89.3-1.63.91-2.23.61-.6 1.34-.9 2.21-.9.43 0 .84.08 1.23.25.39.17.7.39.94.67l-.53.53c-.4-.47-.94-.71-1.64-.71-.63 0-1.18.22-1.64.67-.46.44-.69 1.02-.69 1.73s.23 1.29.69 1.73c.46.44 1.01.67 1.64.67.67 0 1.23-.22 1.68-.67.29-.29.46-.7.5-1.22h-2.18V9.8h2.91c.02.15.04.3.04.44ZM52.03 7.74H49.3v1.9h2.46v.72H49.3v1.9h2.73V13h-3.5V7h3.5v.74ZM55.28 13h-.77V7.74h-1.68V7h4.12v.74h-1.68V13h.01ZM59.94 13V7h.77v6h-.77ZM64.13 13h-.77V7.74h-1.68V7h4.12v.74h-1.68V13h.01ZM73.61 12.22c-.59.61-1.32.91-2.2.91-.88 0-1.61-.3-2.2-.91-.59-.61-.88-1.35-.88-2.22 0-.87.29-1.62.88-2.22.59-.61 1.32-.91 2.2-.91.87 0 1.6.3 2.2.91.59.61.89 1.35.89 2.22-.01.88-.3 1.62-.89 2.22Zm-3.83-.5c.44.45.99.67 1.63.67.64 0 1.19-.22 1.63-.67.44-.45.67-1.02.67-1.72s-.22-1.27-.67-1.72c-.44-.45-.99-.67-1.63-.67-.64 0-1.19.22-1.63.67-.44.45-.67 1.02-.67 1.72s.23 1.27.67 1.72ZM75.58 13V7h.94l2.92 4.67h.03l-.03-1.16V7h.77v6h-.8l-3.05-4.89h-.03l.03 1.16V13h-.78Z'
      )
      path(
        fill='#fff',
        d='M68.14 21.75c-2.35 0-4.27 1.79-4.27 4.25 0 2.45 1.92 4.25 4.27 4.25 2.35 0 4.27-1.8 4.27-4.25 0-2.46-1.92-4.25-4.27-4.25Zm0 6.83c-1.29 0-2.4-1.06-2.4-2.58 0-1.53 1.11-2.58 2.4-2.58 1.29 0 2.4 1.05 2.4 2.58 0 1.52-1.12 2.58-2.4 2.58Zm-9.32-6.83c-2.35 0-4.27 1.79-4.27 4.25 0 2.45 1.92 4.25 4.27 4.25 2.35 0 4.27-1.8 4.27-4.25 0-2.46-1.92-4.25-4.27-4.25Zm0 6.83c-1.29 0-2.4-1.06-2.4-2.58 0-1.53 1.11-2.58 2.4-2.58 1.29 0 2.4 1.05 2.4 2.58 0 1.52-1.11 2.58-2.4 2.58Zm-11.08-5.52v1.8h4.32c-.13 1.01-.47 1.76-.98 2.27-.63.63-1.61 1.32-3.33 1.32-2.66 0-4.74-2.14-4.74-4.8 0-2.66 2.08-4.8 4.74-4.8 1.43 0 2.48.56 3.25 1.29l1.27-1.27c-1.08-1.03-2.51-1.82-4.53-1.82-3.64 0-6.7 2.96-6.7 6.61 0 3.64 3.06 6.61 6.7 6.61 1.97 0 3.45-.64 4.61-1.85 1.19-1.19 1.56-2.87 1.56-4.22 0-.42-.03-.81-.1-1.13h-6.07v-.01Zm45.31 1.4c-.35-.95-1.43-2.71-3.64-2.71-2.19 0-4.01 1.72-4.01 4.25 0 2.38 1.8 4.25 4.22 4.25 1.95 0 3.08-1.19 3.54-1.88l-1.45-.97c-.48.71-1.14 1.18-2.09 1.18s-1.63-.44-2.06-1.29l5.69-2.35-.2-.48Zm-5.8 1.42c-.05-1.64 1.27-2.48 2.22-2.48.74 0 1.37.37 1.58.9l-3.8 1.58ZM82.63 30h1.87V17.5h-1.87V30Zm-3.06-7.3h-.07c-.42-.5-1.22-.95-2.24-.95-2.13 0-4.08 1.87-4.08 4.27 0 2.38 1.95 4.24 4.08 4.24 1.01 0 1.82-.45 2.24-.97h.06v.61c0 1.63-.87 2.5-2.27 2.5-1.14 0-1.85-.82-2.14-1.51l-1.63.68c.47 1.13 1.71 2.51 3.77 2.51 2.19 0 4.04-1.29 4.04-4.43v-7.64h-1.77v.69h.01Zm-2.15 5.88c-1.29 0-2.37-1.08-2.37-2.56 0-1.5 1.08-2.59 2.37-2.59 1.27 0 2.27 1.1 2.27 2.59.01 1.48-.99 2.56-2.27 2.56Zm24.39-11.08h-4.47V30h1.87v-4.74h2.61c2.07 0 4.1-1.5 4.1-3.88s-2.05-3.88-4.11-3.88Zm.04 6.02H99.2v-4.29h2.65c1.4 0 2.19 1.16 2.19 2.14 0 .98-.79 2.15-2.19 2.15Zm11.54-1.79c-1.35 0-2.75.6-3.33 1.91l1.66.69c.35-.69 1.01-.92 1.7-.92.96 0 1.95.58 1.96 1.61v.13c-.34-.19-1.06-.48-1.95-.48-1.79 0-3.6.98-3.6 2.81 0 1.67 1.46 2.75 3.1 2.75 1.25 0 1.95-.56 2.38-1.22h.06v.97h1.8v-4.79c.01-2.22-1.65-3.46-3.78-3.46Zm-.23 6.85c-.61 0-1.46-.31-1.46-1.06 0-.96 1.06-1.33 1.98-1.33.82 0 1.21.18 1.7.42a2.257 2.257 0 0 1-2.22 1.97ZM123.74 22l-2.14 5.42h-.06L119.32 22h-2.01l3.33 7.58-1.9 4.21h1.95L125.82 22h-2.08Zm-16.8 8h1.87V17.5h-1.87V30Z'
      )
      path(
        fill='url(#google-play-a)',
        d='M10.44 7.54c-.29.31-.46.79-.46 1.4v22.12c0 .62.17 1.1.46 1.4l.07.07L22.9 20.15v-.3L10.51 7.47l-.07.07Z'
      )
      path(
        fill='url(#google-play-b)',
        d='m27.03 24.28-4.13-4.13v-.3l4.13-4.13.09.05 4.89 2.78c1.4.79 1.4 2.09 0 2.89l-4.89 2.78-.09.06Z'
      )
      path(fill='url(#google-play-c)', d='M27.12 24.22 22.9 20 10.44 32.46c.46.49 1.22.55 2.08.06l14.6-8.3Z')
      path(fill='url(#google-play-d)', d='m27.12 15.78-14.61-8.3c-.86-.49-1.62-.43-2.08.06L22.9 20l4.22-4.22Z')
      path(
        fill='#000',
        d='m27.03 24.13-14.52 8.25c-.81.46-1.54.43-2 .01l-.07.07.07.07c.47.42 1.19.45 2-.01l14.61-8.3-.09-.09Z',
        opacity='.2'
      )
      path(
        fill='#000',
        d='M10.44 32.32c-.29-.31-.46-.79-.46-1.4v.15c0 .62.17 1.1.46 1.4l.07-.07-.07-.08ZM32.01 21.3l-4.99 2.83.09.09L32 21.44c.7-.4 1.05-.92 1.05-1.44-.05.47-.4.94-1.04 1.3Z',
        opacity='.12'
      )
      path(
        fill='#fff',
        d='m12.51 7.62 19.5 11.08c.63.36.99.82 1.05 1.3 0-.52-.35-1.05-1.05-1.44L12.51 7.48c-1.4-.79-2.54-.13-2.54 1.47v.15c0-1.61 1.15-2.27 2.54-1.48Z',
        opacity='.25'
      )
      defs
        lineargradient#google-play-a(x1='21.8', x2='5.017', y1='8.71', y2='25.492', gradientunits='userSpaceOnUse')
          stop(stop-color='#00A0FF')
          stop(offset='.007', stop-color='#00A1FF')
          stop(offset='.26', stop-color='#00BEFF')
          stop(offset='.512', stop-color='#00D2FF')
          stop(offset='.76', stop-color='#00DFFF')
          stop(offset='1', stop-color='#00E3FF')
        lineargradient#google-play-b(x1='33.834', x2='9.638', y1='20.001', y2='20.001', gradientunits='userSpaceOnUse')
          stop(stop-color='#FFE000')
          stop(offset='.409', stop-color='#FFBD00')
          stop(offset='.775', stop-color='orange')
          stop(offset='1', stop-color='#FF9C00')
        lineargradient#google-play-c(x1='24.827', x2='2.069', y1='22.296', y2='45.054', gradientunits='userSpaceOnUse')
          stop(stop-color='#FF3A44')
          stop(offset='1', stop-color='#C31162')
        lineargradient#google-play-d(x1='7.297', x2='17.46', y1='.176', y2='10.339', gradientunits='userSpaceOnUse')
          stop(stop-color='#32A071')
          stop(offset='.069', stop-color='#2DA771')
          stop(offset='.476', stop-color='#15CF74')
          stop(offset='.801', stop-color='#06E775')
          stop(offset='1', stop-color='#00F076')
    symbol#app-store(viewbox='0 0 120 40')
      path(
        fill='#A6A6A6',
        d='M110.135 0H9.535c-.367 0-.73 0-1.095.002-.306.002-.61.008-.919.013C6.85.023 6.18.082 5.517.192a6.665 6.665 0 0 0-1.9.627A6.438 6.438 0 0 0 .193 5.522a12.993 12.993 0 0 0-.179 2.002c-.01.306-.01.614-.015.92V31.56c.005.31.006.61.015.921.008.671.068 1.34.18 2.002.11.663.32 1.306.624 1.905.303.598.701 1.143 1.179 1.614.473.477 1.019.875 1.618 1.179a6.7 6.7 0 0 0 1.901.63c.663.11 1.333.168 2.004.177.31.007.613.011.919.011.366.002.728.002 1.095.002h100.6c.359 0 .724 0 1.084-.002.304 0 .617-.004.922-.01.67-.01 1.338-.068 2-.178a6.805 6.805 0 0 0 1.908-.63A6.293 6.293 0 0 0 117.666 38a6.405 6.405 0 0 0 1.182-1.614c.302-.6.51-1.242.619-1.905.111-.661.173-1.33.185-2.002.004-.31.004-.61.004-.921.008-.364.008-.725.008-1.094V9.536c0-.366 0-.73-.008-1.092 0-.306 0-.614-.004-.92a13.57 13.57 0 0 0-.185-2.002 6.648 6.648 0 0 0-.619-1.904 6.469 6.469 0 0 0-2.799-2.8 6.77 6.77 0 0 0-1.908-.627c-.661-.11-1.33-.169-2-.176-.305-.005-.618-.011-.922-.013-.36-.002-.725-.002-1.084-.002Z'
      )
      path(
        fill='#000',
        d='M8.445 39.125c-.305 0-.602-.004-.904-.01a12.669 12.669 0 0 1-1.87-.164 5.88 5.88 0 0 1-1.656-.548 5.403 5.403 0 0 1-1.397-1.016 5.32 5.32 0 0 1-1.02-1.397 5.722 5.722 0 0 1-.544-1.657 12.41 12.41 0 0 1-.166-1.875c-.007-.21-.015-.913-.015-.913v-23.1s.009-.692.015-.895a12.37 12.37 0 0 1 .165-1.872 5.755 5.755 0 0 1 .544-1.662c.26-.518.603-.99 1.015-1.398A5.565 5.565 0 0 1 5.667 1.05C6.287.95 6.915.895 7.543.887l.902-.012h102.769l.913.013a12.37 12.37 0 0 1 1.858.162 5.933 5.933 0 0 1 1.671.548 5.589 5.589 0 0 1 2.415 2.42 5.74 5.74 0 0 1 .535 1.65c.104.623.162 1.254.174 1.886.003.284.003.588.003.89.008.375.008.732.008 1.092v20.929c0 .363 0 .718-.008 1.075 0 .325 0 .623-.004.93-.011.62-.069 1.24-.171 1.853a5.715 5.715 0 0 1-.54 1.67c-.263.513-.606.98-1.015 1.386-.409.414-.881.759-1.4 1.022a5.852 5.852 0 0 1-1.668.55c-.618.101-1.243.156-1.869.163-.293.007-.599.011-.897.011l-1.084.002-101.69-.002Z'
      )
      path(
        fill='#fff',
        d='M24.769 20.3a4.948 4.948 0 0 1 2.356-4.151 5.065 5.065 0 0 0-3.99-2.158c-1.68-.176-3.308 1.005-4.164 1.005-.872 0-2.19-.988-3.608-.958a5.315 5.315 0 0 0-4.473 2.727c-1.934 3.349-.492 8.27 1.361 10.977.927 1.325 2.01 2.805 3.428 2.753 1.387-.058 1.905-.885 3.58-.885 1.658 0 2.144.885 3.59.852 1.489-.025 2.426-1.332 3.32-2.67a10.96 10.96 0 0 0 1.52-3.092 4.782 4.782 0 0 1-2.92-4.4ZM22.037 12.211a4.872 4.872 0 0 0 1.115-3.49 4.957 4.957 0 0 0-3.208 1.66 4.634 4.634 0 0 0-1.143 3.36 4.099 4.099 0 0 0 3.236-1.53ZM42.302 27.14H37.57l-1.137 3.356h-2.005l4.484-12.418h2.083l4.483 12.418h-2.039l-1.136-3.356Zm-4.243-1.55h3.752l-1.85-5.446h-.051l-1.85 5.447ZM55.16 25.97c0 2.813-1.506 4.62-3.779 4.62a3.07 3.07 0 0 1-2.848-1.583h-.043v4.484H46.63V21.442h1.8v1.506h.033a3.212 3.212 0 0 1 2.883-1.6c2.298 0 3.813 1.816 3.813 4.622Zm-1.91 0c0-1.833-.948-3.038-2.393-3.038-1.42 0-2.375 1.23-2.375 3.038 0 1.824.955 3.046 2.375 3.046 1.445 0 2.392-1.197 2.392-3.046ZM65.124 25.97c0 2.813-1.505 4.62-3.778 4.62a3.07 3.07 0 0 1-2.848-1.583h-.043v4.484h-1.859V21.442h1.799v1.506h.034a3.212 3.212 0 0 1 2.883-1.6c2.298 0 3.813 1.816 3.813 4.622Zm-1.91 0c0-1.833-.947-3.038-2.392-3.038-1.42 0-2.375 1.23-2.375 3.038 0 1.824.955 3.046 2.375 3.046 1.445 0 2.392-1.197 2.392-3.046ZM71.71 27.036c.138 1.232 1.334 2.04 2.97 2.04 1.566 0 2.693-.808 2.693-1.919 0-.964-.68-1.54-2.29-1.936l-1.609-.388c-2.28-.55-3.339-1.617-3.339-3.348 0-2.142 1.867-3.614 4.519-3.614 2.624 0 4.423 1.472 4.483 3.614h-1.876c-.112-1.239-1.136-1.987-2.634-1.987-1.497 0-2.521.757-2.521 1.858 0 .878.654 1.395 2.255 1.79l1.368.336c2.548.603 3.606 1.626 3.606 3.443 0 2.323-1.85 3.778-4.793 3.778-2.754 0-4.614-1.42-4.734-3.667h1.902ZM83.346 19.3v2.142h1.722v1.472h-1.722v4.991c0 .776.345 1.137 1.102 1.137.204-.004.408-.018.611-.043v1.463c-.34.064-.686.092-1.032.086-1.833 0-2.548-.689-2.548-2.444v-5.19h-1.316v-1.472h1.316V19.3h1.867ZM86.065 25.97c0-2.849 1.678-4.639 4.294-4.639 2.625 0 4.295 1.79 4.295 4.639 0 2.856-1.661 4.639-4.295 4.639-2.633 0-4.294-1.783-4.294-4.64Zm6.695 0c0-1.954-.895-3.108-2.401-3.108-1.506 0-2.4 1.163-2.4 3.108 0 1.962.894 3.106 2.4 3.106 1.506 0 2.401-1.144 2.401-3.106ZM96.186 21.442h1.772v1.541h.043a2.16 2.16 0 0 1 2.178-1.635c.214-.001.428.022.637.07v1.737a2.594 2.594 0 0 0-.835-.112 1.872 1.872 0 0 0-1.937 2.083v5.37h-1.858v-9.053ZM109.384 27.837c-.25 1.643-1.85 2.771-3.898 2.771-2.634 0-4.269-1.764-4.269-4.595 0-2.84 1.644-4.682 4.191-4.682 2.505 0 4.08 1.72 4.08 4.466v.637h-6.395v.112a2.353 2.353 0 0 0 .639 1.832 2.363 2.363 0 0 0 1.797.732 2.046 2.046 0 0 0 2.091-1.273h1.764Zm-6.282-2.702h4.526a2.166 2.166 0 0 0-.608-1.634 2.168 2.168 0 0 0-1.612-.664 2.293 2.293 0 0 0-2.306 2.298ZM37.826 8.731a2.64 2.64 0 0 1 2.808 2.965c0 1.906-1.03 3.002-2.808 3.002h-2.155V8.73h2.155Zm-1.228 5.123h1.125a1.876 1.876 0 0 0 1.968-2.146 1.882 1.882 0 0 0-1.968-2.134h-1.125v4.28ZM41.68 12.444a2.133 2.133 0 1 1 4.248 0 2.134 2.134 0 1 1-4.247 0Zm3.334 0c0-.976-.439-1.546-1.208-1.546-.773 0-1.207.57-1.207 1.546 0 .984.434 1.55 1.207 1.55.77 0 1.208-.57 1.208-1.55ZM51.573 14.698h-.922l-.93-3.316h-.07l-.927 3.316h-.913l-1.242-4.503h.902l.806 3.436h.067l.925-3.436h.853l.926 3.436h.07l.803-3.436h.889l-1.237 4.503ZM53.853 10.195h.856v.715h.066a1.349 1.349 0 0 1 1.344-.802 1.466 1.466 0 0 1 1.559 1.675v2.915h-.889v-2.692c0-.724-.314-1.084-.972-1.084a1.034 1.034 0 0 0-1.075 1.142v2.634h-.889v-4.503ZM59.094 8.437h.888v6.26h-.888v-6.26ZM61.218 12.444a2.134 2.134 0 1 1 4.247 0 2.133 2.133 0 1 1-4.247 0Zm3.333 0c0-.976-.439-1.546-1.208-1.546-.773 0-1.207.57-1.207 1.546 0 .984.434 1.55 1.207 1.55.77 0 1.208-.57 1.208-1.55ZM66.4 13.424c0-.81.604-1.277 1.676-1.344l1.22-.07v-.389c0-.476-.315-.744-.922-.744-.497 0-.84.182-.939.5h-.86c.09-.773.818-1.27 1.84-1.27 1.128 0 1.765.563 1.765 1.514v3.077h-.855v-.633h-.07a1.515 1.515 0 0 1-1.353.707 1.361 1.361 0 0 1-1.501-1.348Zm2.895-.384v-.377l-1.1.07c-.62.042-.9.253-.9.65 0 .405.351.641.834.641a1.064 1.064 0 0 0 1.166-.984ZM71.348 12.444c0-1.422.732-2.324 1.87-2.324a1.483 1.483 0 0 1 1.38.79h.067V8.437h.888v6.26h-.851v-.71h-.07a1.564 1.564 0 0 1-1.415.785c-1.145 0-1.869-.901-1.869-2.328Zm.918 0c0 .956.45 1.53 1.203 1.53.75 0 1.212-.583 1.212-1.526 0-.938-.468-1.53-1.212-1.53-.748 0-1.203.58-1.203 1.527ZM79.23 12.444a2.134 2.134 0 1 1 4.247 0 2.134 2.134 0 1 1-4.247 0Zm3.333 0c0-.976-.439-1.546-1.208-1.546-.772 0-1.207.57-1.207 1.546 0 .984.435 1.55 1.207 1.55.77 0 1.208-.57 1.208-1.55ZM84.67 10.195h.855v.715h.066a1.348 1.348 0 0 1 1.344-.802 1.466 1.466 0 0 1 1.559 1.675v2.915h-.889v-2.692c0-.724-.314-1.084-.972-1.084a1.034 1.034 0 0 0-1.075 1.142v2.634h-.889v-4.503ZM93.515 9.074v1.142h.976v.748h-.976v2.315c0 .472.195.679.637.679.113 0 .226-.008.339-.02v.74c-.16.028-.322.043-.484.045-.988 0-1.382-.348-1.382-1.216v-2.543h-.714v-.749h.715V9.074h.89ZM95.705 8.437h.88v2.482h.07a1.386 1.386 0 0 1 1.374-.807 1.485 1.485 0 0 1 1.55 1.679v2.907h-.889V12.01c0-.72-.335-1.084-.963-1.084a1.053 1.053 0 0 0-1.134 1.142v2.63h-.888v-6.26ZM104.761 13.482a1.823 1.823 0 0 1-1.951 1.303 2.047 2.047 0 0 1-2.08-2.324 2.083 2.083 0 0 1 1.212-2.172 2.08 2.08 0 0 1 .864-.181c1.253 0 2.009.856 2.009 2.27v.31h-3.18v.05a1.191 1.191 0 0 0 1.199 1.29 1.08 1.08 0 0 0 1.072-.546h.855Zm-3.126-1.451h2.275a1.09 1.09 0 0 0-1.109-1.167 1.151 1.151 0 0 0-1.166 1.167Z'
      )
